@model PostGetModel.Models.Usuario
    @{ 
        ViewBag.Tittle = "Descubra";
    }
<div id="rpg-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <form class="" action="" method="post">
            <div class="carousel-item active">
                <div class="row w-100 mx-0">
                    <div class="col-5 px-0">
                        <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                        <div class="col-12 position-absolute pergunta">
                            <span>
                                Voce se encontra em uma sala com alguns itens no chao. Voce pode selecionar um deles, qual seria?
                            </span>
                        </div>
                    </div>
                    <span class="col-7 bg-dark px-0">
                        <div class="container h-100 d-flex align-items-center justify-content-between">
                            <div class="row justify-content-center w-100">
                                <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp1">Um livro sobre runas curandeiras antigas</label>
                                </div>
                                <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp2">Uma flecha de prata</label>
                                </div>
                                <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp3">Um escudo antigo repleto de sinais de guerra</label>
                                </div>
                                <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp4">Um cajado de madeira com gravuras antigas</label>
                                </div>
                            </div>
                            <input type="radio" hidden name="class_1" id="resp1" value="1"/>
                            <input type="radio" hidden name="class_2" id="resp2" value="1"/>
                            <input type="radio" hidden name="class_3" id="resp3" value="1"/>
                            <input type="radio" hidden name="class_4" id="resp4" value="1"/>
                        </div>
                    </span>
                </div>
                <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                    <span class="carousel-control-next-icon-descovery"></span>
                </a>
            </div>
            @*<div class="carousel-item">
                <div class="row w-100 mx-0">
                    <div class="col-5 px-0">
                        <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                        <div class="col-12 position-absolute pergunta">
                            <span>
                                Voce se encontra em uma sala com alguns itens no chao. Voce pode selecionar um deles, qual seria?
                            </span>
                        </div>
                    </div>
                    <span class="col-7 bg-dark px-0">
                        <div class="container h-100 d-flex align-items-center justify-content-between">
                            <div class="row justify-content-center w-100">
                                <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp1">Um livro sobre runas curandeiras antigas</label>
                                </div>
                                <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp2">Uma flecha de prata</label>
                                </div>
                                <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp3">Um escudo antigo repleto de sinais de guerra</label>
                                </div>
                                <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" >
                                    <label class="w-100 h-100 p-2" for="resp4">Um cajado de madeira com gravuras antigas</label>
                                </div>
                            </div>
                            <input type="radio" hidden name="resposta1" id="resp1" />
                            <input type="radio" hidden name="resposta1" id="resp2" />
                            <input type="radio" hidden name="resposta1" id="resp3" />
                            <input type="radio" hidden name="resposta1" id="resp4" />
                        </div>
                    </span>
                </div>
                <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                    <span class="carousel-control-next-icon-descovery"></span>
                </a>
            </div>*@
            <div class="carousel-item">
                <div class="row w-100">
                    <div class="col-5 px-0">
                        <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                        <div class="col-12 position-absolute pergunta">
                            <span>
                                Voce se encontra em uma sala com alguns itens no chao. Voce pode selecionar um deles, qual seria?
                            </span>
                        </div>
                    </div>
                    <span class="col-7 bg-dark px-0">
                        <div class="container h-100 d-flex align-items-center justify-content-between">
                            <div class="row justify-content-center w-100">
                                <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma">
                                    <label class="w-100 h-100 p-2" for="resp1">Um livro sobre runas curandeiras antigas</label>
                                </div>
                                <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma">
                                    <label class="w-100 h-100 p-2" for="resp2">Uma flecha de prata</label>
                                </div>
                                <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma">
                                    <label class="w-100 h-100 p-2" for="resp3">Um escudo antigo repleto de sinais de guerra</label>
                                </div>
                                <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma">
                                    <label class="w-100 h-100 p-2" for="resp4">Um cajado de madeira com gravuras antigas</label>
                                </div>
                            </div>
                            <input type="radio" hidden name="resposta1" id="resp1" />
                            <input type="radio" hidden name="resposta1" id="resp2" />
                            <input type="radio" hidden name="resposta1" id="resp3" />
                            <input type="radio" hidden name="resposta1" id="resp4" />
                        </div>
                        <a href="@Url.Action("Resultado")" class="btn submitbtn d-none">RESULTADO</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
