﻿﻿@{
    ViewBag.Title = "Resultado";
}
<div class="row">
    <div class="col-md-12 px-0 bg-green classes">
        <div class="row w-100">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/ed_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow"><strong class="f-s-80">40%&nbsp;</strong> druid</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 px-0 bg-purple classes">
        <div class="row w-100">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/sorc_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow"><strong class="f-s-80">25%&nbsp;</strong> sorcerer</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 px-0 bg-yellow classes">
        <div class="row w-100">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/pala_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow"><strong class="f-s-80">15%&nbsp;</strong> paladin</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 px-0 bg-red classes">
        <div class="row w-100">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/kn_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow"><strong class="f-s-80">20%&nbsp;</strong> knight</span>
                </div>
            </div>
        </div>
    </div>
    <a href="@Url.Action("Index")" class="position-fixed btn-home">
        <div class="row w-100 h-100 mx-0 justify-content-center align-items-center border rounded-circle border-home">
            <span class="f-s-20">Home</span>
        </div>
    </a>
</div>
