﻿@model RPGWorld.Models.pessoa

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div id="rpg-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row w-100 mx-0">
                    <div class="col-5 px-0">
                        <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                        <div class="col-12 position-absolute pergunta">
                            <span>
                                Escreva seu apelido no RPG:
                            </span>
                        </div>
                    </div>
                    <span class="col-7 bg-dark px-0">
                        <div class="w-100 h-100 d-flex align-items-center justify-content-between">
                            <div class="row justify-content-center w-100 mx-0">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="p-0 w-50">
                                    <div class="col-md-12 px-0" onclick="valueDefault()">
                                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "btn btn-classic classic continuar bg-transparent w-100 p-3 f-s-25 text-center text-white" } })
                                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                    <span class="carousel-control-next-icon-descovery"></span>
                </a>
            </div>
            <div class="carousel-item">
                <div class="row w-100 mx-0">
                    <div class="col-5 px-0">
                        <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                        <div class="col-12 position-absolute pergunta">
                            <span>
                                Voce se encontra em uma sala com alguns itens no chao. Voce pode selecionar um deles, qual seria?
                            </span>
                        </div>
                    </div>
                    <span class="col-7 bg-dark px-0">
                        <div class="container h-100 d-flex align-items-center justify-content-between">
                            <div class="row justify-content-center w-100">
                                <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()">
                                    <label class="w-100 h-100 p-2" for="druid">Um livro sobre runas antigas</label>
                                </div>
                                <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()">
                                    <label class="w-100 h-100 p-2" for="resp2">Uma flecha de prata</label>
                                </div>
                                <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()">
                                    <label class="w-100 h-100 p-2" for="resp3">Um escudo antigo repleto de sinais de guerra</label>
                                </div>
                                <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()">
                                    <label class="w-100 h-100 p-2" for="resp4">Um cajado de madeira com gravuras antigas</label>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                    <span class="carousel-control-next-icon-descovery"></span>
                </a>
            </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Uma característica: 
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Companheirismo</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Poder</label>
                                    </div>
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Religiosidade</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Honra</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Você escuta um barulho estranho vindo de uma caverna, o que você faz?
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Investigo o lugar, as redondezas, para saber a origem do barulho e entrar na caverna com mais confiança</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Vou de peito aberto ver a causa do barulho</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Penso e procuro em livros que caverna é aquela, a região que estamos, e o que pode ter originado o barulho</label>
                                    </div>
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-15 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Tento dar uma espiada, olhar em volta, mas enquanto a origem do barulho não se revelar, vou adentar a caverna, pois acredito no meu deus</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Quantas pessoas são boas para completar uma missão de risco?
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Depende da missão</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Quatro</label>
                                    </div>
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Tendo meu deus por perto, nenhuma missão é de risco</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Quanto mais melhor</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Uma frase de efeito
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Eu vivo das luzes dos deuses</label>
                                    </div>
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Em sincronia com a natureza e o mundo</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Tudo é possível com poder</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Todos atrás do meu escudo!</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Um lugar
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Floresta</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Uma grande biblioteca</label>
                                    </div>
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Uma catedral</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Oficina</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Um objeto favorito
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Não tenho</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Meus livros</label>
                                    </div>
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Meu totem</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Meu escudo e a minha espada</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Um erro
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Machucar alguma forma de vida inocente</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Procrastinação</label>
                                    </div>
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Heresia</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Trair um ideal</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                    <div class="row w-100 mx-0">
                        <div class="col-5 px-0">
                            <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                            <div class="col-12 position-absolute pergunta">
                                <span>
                                    Um sentimento que te define
                                </span>
                            </div>
                        </div>
                        <span class="col-7 bg-dark px-0">
                            <div class="container h-100 d-flex align-items-center justify-content-between">
                                <div class="row justify-content-center w-100">
                                    <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="druid()" >
                                        <label class="w-100 h-100 p-2" for="resp1">Empatia</label>
                                    </div>
                                    <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="sorcerer()" >
                                        <label class="w-100 h-100 p-2" for="resp2">Paciência</label>
                                    </div>
                                    <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="paladin()" >
                                        <label class="w-100 h-100 p-2" for="resp3">Fé</label>
                                    </div>
                                    <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic continuar" onclick="knight()" >
                                        <label class="w-100 h-100 p-2" for="resp4">Raiva</label>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <a class="carousel-control-next carousel-control-next-descovery d-none next" href="#rpg-carousel" data-slide="next">
                        <span class="carousel-control-next-icon-descovery"></span>
                    </a>
                </div>
            <div class="carousel-item">
                <div class="row w-100">
                    <div class="col-5 px-0">
                        <img class="w-100 px-0" src="~/Content/img/questions2.jpg" alt="Los Angeles">
                        <div class="col-12 position-absolute pergunta">
                            <span>
                                Qual o sentido da vida?
                            </span>
                        </div>
                    </div>
                    <span class="col-7 bg-dark px-0">
                        <div class="container h-100 d-flex align-items-center justify-content-between">
                            <div class="row justify-content-center w-100">
                                <div tabindex="1" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma" onclick="druid()">
                                    <label class="w-100 h-100 p-2" for="resp1">Proteger algo que acredita ser certo</label>
                                </div>
                                <div tabindex="2" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma" onclick="sorcerer()" >
                                    <label class="w-100 h-100 p-2" for="resp2">Estudar, praticar, e ter poder para conquistar o mundo</label>
                                </div>
                                <div tabindex="3" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma" onclick="paladin()" >
                                    <label class="w-100 h-100 p-2" for="resp3">Defender os ideais de meu Deus</label>
                                </div>
                                <div tabindex="4" class="col-md-8 px-0 my-3 f-s-20 btn btn-classic classic confirma" onclick="knight()" >
                                    <label class="w-100 h-100 p-2" for="resp4">Ser forte, para proteger quem amamos</label>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="RESULTADO" class="btn submitbtn d-none" />
                        @*<a href="@Url.Action("Resultado")" class="">RESULTADO</a>*@
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">

        <div class="d-none">
            <div class="form-group">
                @Html.LabelFor(model => model.druid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.druid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.druid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sorcerer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sorcerer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sorcerer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.paladin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.paladin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.paladin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.knight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.knight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.knight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div class="d-none">
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
