﻿@model RPGWorld.Models.pessoa

@{
    ViewBag.Title = "Resultado";
}

<div class="row">
    <div class="col-md-12 px-0 bg-green classes">
        <div class="row w-100 mx-0">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/ed_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow">
                        <small>@Html.DisplayFor(model => model.nome), é: </small>
                        <strong class="f-s-80">@Html.DisplayFor(model => model.druid)0%&nbsp;</strong>
                        druid
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 px-0 bg-purple classes">
        <div class="row w-100 mx-0">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/sorc_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow">
                        <small>@Html.DisplayFor(model => model.nome), é: </small>
                        <strong class="f-s-80">@Html.DisplayFor(model => model.sorcerer)0%&nbsp;</strong>
                        sorcerer
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 px-0 bg-yellow classes">
        <div class="row w-100 mx-0">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/pala_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow">
                        <small>@Html.DisplayFor(model => model.nome), é: </small>
                        <strong class="f-s-80">@Html.DisplayFor(model => model.paladin)0%&nbsp;</strong> 
                        paladin
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 px-0 bg-red classes">
        <div class="row w-100 mx-0">
            <div class="col-md-5 result-img">
                <img class="h-100" src="~/Content/img/vocations/kn_icon.png" alt="">
            </div>
            <div class="col-md-7 px-0">
                <div class="d-flex align-items-center h-100 bg-transparent">
                    <span class="pl-5 f-s-45 text-white text-shadow">
                    <small>@Html.DisplayFor(model => model.nome), é: </small>
                    <strong class="f-s-80">@Html.DisplayFor(model => model.knight)0%&nbsp;</strong>
                    knight
                    </span>
                </div>
            </div>
        </div>
    </div>
    <a href="~/" class="position-fixed btn-home">
        <div class="row w-100 h-100 mx-0 justify-content-center align-items-center border rounded-circle border-home">
            <span class="f-s-20">Home</span>
        </div>
    </a>
</div>

<div class="d-none">
    <h4>pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.druid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.druid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sorcerer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sorcerer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paladin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paladin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.knight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.knight)
        </dd>

    </dl>
</div>
<p class="d-none">
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
