﻿@model IEnumerable<RPGWorld.Models.pessoa>

@{
    ViewBag.Title = "Home";
}

<div class="border-separator col-md-12 col-12 text-center row align-items-center" id="descubra">

    <span class="col-md-12 text-center f-s-40 sub-slogan-text f-default-Bold">Seja um jogador RPG!</span>
    <br>
    <span class="col-md-12 text-center f-s-40 slogan-text f-default-Bold">Ja sabe qual seria a melhor classe para voce?</span>
    <div class="text-center row justify-content-center w-100 mx-0">
        @Html.ActionLink("DESCUBRA AGORA!",
       "Create",
       null,
       new { @class = "f-s-35 btn btn-classic classic"}
       )
        @*@Html.ActionLink("DESCUBRA AGORA!",
            "Descubra",
            null,
            new { @class = "f-s-35 btn btn-classic classic" })*@
    </div>
</div>
<div id="rpg-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/img/vocations/druid.jpg" alt="Druids" width="100%">
            <div class="carousel-caption d-none d-md-block">
                <span class="f-s-38 slogn-text text-brown-light text-shadow-default">Druids</span>
                <p class="f-s-35 slogn-text text-brown text-shadow-default">
                    O Druid é devotado e relacionado com a natureza, de onde provém toda a sua força. Ele pratica o controle sobre elementos da natureza para o benefício de todos os humanos.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/vocations/sorcerer.png" alt="Sorcerers" width="100%">
            <div class="carousel-caption d-none d-md-block">
                <span class="f-s-38 slogn-text text-brown-light text-shadow-default">Sorcerers</span>
                <p class="f-s-35 slogn-text text-brown text-shadow-default">
                    Um Sorcerer, mestre arcano das artes negras, dedica sua vida ao estudo da magia. Ele é profundamente convicto que superioridade encontra-se na sabedoria e não na força física.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/vocations/paladin.jpg" alt="Paladins" width="100%">
            <div class="carousel-caption d-none d-md-block">
                <span class="f-s-38 slogn-text text-brown-light text-shadow-default">Paladins</span>
                <p class="f-s-35 slogn-text text-brown text-shadow-default">
                    O Paladin, um arqueiro sagrado, rápido e infalível, ataca mortalmente seus inimigos à distância com tal velocidade que ele parece ser invisível para seus alvos.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/vocations/knight.jpg" alt="Knights" width="100%">
            <div class="carousel-caption d-none d-md-block">
                <span class="f-s-38 slogn-text text-brown-light text-shadow-default">Knights</span>
                <p class="f-s-35 slogn-text text-brown text-shadow-default">
                    Um Knight é um guerreiro forte e sempre pronto para uma batalha. Em combate em grupo, o Knight se posiciona sempre na linha de frente para proteger os demais jogadores.
                </p>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#rpg-carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#rpg-carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.druid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sorcerer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paladin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.knight)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.druid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sorcerer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paladin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.knight)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>*@
