body
{
    background: #000;
    font-family: default-Light;
}
/* BOXES STYLES START */
.border-separator
{
    border-top: 8px solid transparent;
    border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
    border-image-slice: 1;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 4px 15px -2px #000 inset;
}
/* BOXES STYLES END */
/* BACKGROUNDS START */
#descubra
{
    width: 100%;
    padding: 0px;
    margin: 0px !important;
    min-height: 400px;
    background-size: cover;
    background-image: url("../../public/img/bg-start-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
/* BACKGROUNDS END */
/* TEXT PROPERTIES START */
@font-face
{
    font-family: default-Light;
    src: url(../../public/fonts/RPG_Light.ttf);
}
@font-face
{
    font-family: default-Bold;
    src: url(../../public/fonts/RPG_Bold.ttf);
}
.f-default-Light
{
    font-family: default-Light !important;
}
.f-default-Bold
{
    font-family: default-Bold !important;
}
a, a:hover
{
    text-decoration: none !important;
}
.sub-slogan-text
{
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.58);
    color: #f0e6d2;
}
.slogan-text
{
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.58);
    color: #c8aa6e;
}
.text-brown-light
{
    color: #f0e6d2;
}
.text-brown
{
    color: #c8aa6e;
}
.text-shadow-default
{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.58);
}
.f-s-15
{
    font-size: 15px;
}
.f-s-18
{
    font-size: 18px;
}
.f-s-20
{
    font-size: 20px;
}
.f-s-22
{
    font-size: 22px;
}
.f-s-25
{
    font-size: 25px;
}
.f-s-28
{
    font-size: 28px;
}
.f-s-30
{
    font-size: 30px;
}
.f-s-32
{
    font-size: 32px;
}
.f-s-35
{
    font-size: 35px;
}
.f-s-38
{
    font-size: 38px;
}
.f-s-40
{
    font-size: 40px;
}
.f-s-42
{
    font-size: 42px;
}
.f-s-45
{
    font-size: 45px;
}
.f-s-48
{
    font-size: 48px;
}
.f-s-50
{
    font-size: 50px;
}
/* TEXT PROPERTIES END */
/* BUTTONS / LINKS START */
.btn-classic
{
    border-radius: 0;
    border: 5px solid rgba(192,252,253,.7);
    padding: 13px 35px 12px;
    color: #f0e6d2;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    background: #1e2328;
    background-image: transparent;
    box-shadow: 0 0 0 0 transparent;
    border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
    border-image-slice: 1;
    transition: all ease-in-out .5s;
    background: #1e2328;
}
.btn-classic:hover
{
    color: #f0e6d2 !important;
    background-image: url(../../public/img/btn.jpg);
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 10px 4px rgba(192,252,253,.4), inset 0 0 5px 2px rgba(192,252,253,.3);
    border: 5px solid rgba(192,252,253,.7);
}
/* BUTTONS / LINKS END */
/* CAROUSEL START */
#rpg-carousel
{
    border-top: 8px solid transparent;
    border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
    border-image-slice: 1;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 4px 15px -2px #000 inset;
}
.carousel-control-next-icon
{
    height: 79px;
    width: 57px;
    background: transparent url(../../public/img/slide-arrow.png) no-repeat scroll -57px 0;
}
.carousel-control-prev-icon
{
    height: 79px;
    width: 57px;
    background: transparent url(../../public/img/slide-arrow.png) no-repeat scroll 0 0;
}
.carousel-indicators
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    margin: 0px !important;
}
.carousel-indicators li
{
    /* width: 20%; */
    /* background: none; */
}
/* CAROUSEL END */
