﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - World RPG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="">
        @RenderBody()
        <!-- NOTE: FOOTER START -->
        <footer class="border-separator  text-center py-3">
            <span class="text-brown">
                Copyright by <span class="f-s-18">CC2A18 UNIP VARGAS.</span>
                <br> Todos os direitos reservados.
            </span>
        </footer>
        <!-- NOTE: FOOTER END -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function valueDefault() {
            document.getElementById("nome").att("value", "0");
        }

        function druid() {
            document.getElementById("druid").stepUp();
        }
        function sorcerer() {
            document.getElementById("sorcerer").stepUp();
        }
        function paladin() {
            document.getElementById("paladin").stepUp();
        }
        function knight() {
            document.getElementById("knight").stepUp();
        }
        $(document).ready(function () {
            $(".continuar").click(function () {
                $(".next").removeClass("d-none");
            });

            $(".next").click(function () {
                $(".next").addClass("d-none");
            });

            $(".confirma").click(function () {
                $(".submitbtn").removeClass("d-none");
            });

        });
    </script>
</body>
</html>