﻿﻿body {
    background: #fff;
    font-family: default-Light;
}
/* BOXES STYLES START */
.border-separator {
    border-top: 8px solid transparent;
    border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
    border-image-slice: 1;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 4px 15px -2px #000 inset;
}
/* BOXES STYLES END */
/* BACKGROUNDS START */
#descubra {
    width: 100%;
    padding: 0px;
    margin: 0px !important;
    min-height: 400px;
    background-size: cover;
    background-image: url("img/bg-start-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
/* BACKGROUNDS END */
/* TEXT PROPERTIES START */
@font-face {
    font-family: default-Light;
    src: url(fonts/RPG_Light.ttf);
}

@font-face {
    font-family: default-Bold;
    src: url(fonts/RPG_Bold.ttf);
}

.f-default-Light {
    font-family: default-Light !important;
}

.f-default-Bold {
    font-family: default-Bold !important;
}

a, a:hover {
    text-decoration: none !important;
}

.sub-slogan-text {
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.58);
    color: #f0e6d2;
}

.slogan-text {
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.58);
    color: #c8aa6e;
}

.text-brown-light {
    color: #f0e6d2;
}

.text-brown {
    color: #c8aa6e;
}

.text-shadow-default {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.58);
}

.f-s-15 {
    font-size: 15px;
}

.f-s-18 {
    font-size: 18px;
}

.f-s-20 {
    font-size: 20px;
}

.f-s-22 {
    font-size: 22px;
}

.f-s-25 {
    font-size: 25px;
}

.f-s-28 {
    font-size: 28px;
}

.f-s-30 {
    font-size: 30px;
}

.f-s-32 {
    font-size: 32px;
}

.f-s-35 {
    font-size: 35px;
}

.f-s-38 {
    font-size: 38px;
}

.f-s-40 {
    font-size: 40px;
}

.f-s-42 {
    font-size: 42px;
}

.f-s-45 {
    font-size: 45px;
}

.f-s-48 {
    font-size: 48px;
}

.f-s-50 {
    font-size: 50px;
}

.f-s-80 {
    font-size: 80px;
}

.text-shadow {
    text-shadow: 4px 4px 10px #000;
}

.pergunta {
    top: 50%;
    color: #fff;
    font-family: font-default-Bold;
    font-size: 30px;
    width: 95%;
    text-align: center;
    text-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 10px rgba(0,0,0,.5);
    vertical-align: middle;
}

.pergunta {
    top: 50%;
    color: #fff;
    font-family: font-default-Bold;
    font-size: 30px;
    width: 95%;
    text-align: center;
    text-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 10px rgba(0,0,0,.5);
    vertical-align: middle;
}
/* TEXT PROPERTIES END */
/* BUTTONS / LINKS START */
.radius-10 {
    border-radius: 10px !important;
}

.btn-home {
    width: 80px;
    height: 80px;
    z-index: 999999;
    bottom: 15px;
    right: 15px;
    border-radius: 50% !important;
    background: #1e2328 !important;
}

.home {
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
    background: #1e2328 !important;
}

.border-home {
    border-radius: 50% !important;
    border: 5px solid #906f30 !important;
    color: #f0e6d2 !important;
    background-image: transparent !important;
    border-image-slice: 1 !important;
    transition: all ease-in-out .5s !important;
    background: #1e2328 !important;
    white-space: normal !important;
    box-shadow: 3px 3px 10px #000;
}

    .border-home:hover {
        color: #f0e6d2 !important;
        box-shadow: 0 0 10px 4px rgba(192,252,253,.4), inset 0 0 5px 2px rgba(192,252,253,.3) !important;
        border: 5px solid #fff !important;
    }

.btn-classic {
    border-radius: 0 !important;
    border: 5px solid rgba(192,252,253,.7) !important;
    color: #f0e6d2 !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    background: #1e2328 !important;
    background-image: transparent !important;
    box-shadow: 0 0 0 0 transparent !important;
    border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%) !important;
    border-image-slice: 1 !important;
    transition: all ease-in-out .5s !important;
    background: #1e2328 !important;
}

.classic {
    cursor: pointer;
    border-radius: 0 !important;
    border: 5px solid rgba(192,252,253,.7) !important;
    color: #f0e6d2 !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    background: #1e2328 !important;
    background-image: transparent !important;
    box-shadow: 0 0 0 0 transparent !important;
    border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%) !important;
    border-image-slice: 1 !important;
    transition: all ease-in-out .5s !important;
    background: #1e2328 !important;
    white-space: normal !important;
}

    .btn-classic:hover, .btn-classic:focus, .classic:focus {
        color: #f0e6d2 !important;
        background-image: url(img/btn.jpg) !important;
        background-position: center center !important;
        background-size: cover !important;
        box-shadow: 0 0 10px 4px rgba(192,252,253,.4), inset 0 0 5px 2px rgba(192,252,253,.3) !important;
        border: 5px solid rgba(192,252,253,.7) !important;
    }

.submitbtn {
    color: #fff;
    position: absolute;
    right: 10px;
    border-radius: 0 !important;
    border: 5px solid rgba(192,252,253,.7) !important;
    padding: 13px 35px 12px !important;
    color: #f0e6d2 !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    background: #1e2328 !important;
    background-image: transparent !important;
    box-shadow: 0 0 0 0 transparent !important;
    border-image: linear-gradient(to bottom,#08ac59 0,#298b01 100%) !important;
    border-image-slice: 1 !important;
    transition: all ease-in-out .5s !important;
    background: #1e2328 !important;
}

.submitbtn {
    bottom: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 0 !important;
    border: 5px solid rgba(192,252,253,.7) !important;
    padding: 13px 35px 12px !important;
    color: #f0e6d2 !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    background: #1e2328 !important;
    background-image: transparent !important;
    box-shadow: 0 0 0 0 transparent !important;
    border-image: linear-gradient(to bottom,#08ac59 0,#298b01 100%) !important;
    border-image-slice: 1 !important;
    transition: all ease-in-out .5s !important;
    background: #1e2328 !important;
    white-space: normal !important;
}

    .submitbtn:hover, .submitbtn:focus, .submitbtn:focus {
        color: #f0e6d2 !important;
        background-image: url(img/btn-green.jpg) !important;
        background-position: center center !important;
        background-size: cover !important;
        box-shadow: 0 0 10px 4px rgba(192, 253, 197, 1), inset 0 0 5px 2px rgbargba(192, 253, 197, 1) !important;
        border: 5px solid rgba(133, 255, 142, 0.75) !important;
    }
/* BUTTONS / LINKS END */
/* CAROUSEL START */
#rpg-carousel {
    border-top: 8px solid transparent;
    border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
    border-image-slice: 1;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 4px 15px -2px #000 inset;
}

.carousel-control-next-descovery {
    width: 0% !important;
}

.carousel-control-next-icon {
    height: 79px;
    width: 57px;
    background: transparent url(img/slide-arrow.png) no-repeat scroll -57px 0;
}

.carousel-control-next-icon-descovery {
    position: absolute;
    right: -0.5%;
    bottom: 10px;
    height: 40px;
    width: 58px;
    background: transparent url(img/slide-arrow-min.png) no-repeat scroll -29px 0;
    background-size: 58px 80px;
}

.carousel-control-prev-icon {
    height: 79px;
    width: 57px;
    background: transparent url(img/slide-arrow.png) no-repeat scroll 0 0;
}

.carousel-indicators {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    margin: 0px !important;
}

    .carousel-indicators li {
        /* width: 20%; */
        /* background: none; */
    }
/* CAROUSEL END */
/* CONGRATS START */
.bg-green {
    background-color: #007c42 !important;
}

.bg-purple {
    background-color: #813fbb !important;
}

.bg-yellow {
    background-color: #f4c701 !important;
}

.bg-red {
    background-color: #d20706 !important;
}

.classes {
    height: 306px !important;
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
    border-image-slice: 1;
    box-shadow: inset 0px 11px 8px -10px #000;
}

    .classes:last-child {
        border-bottom: 0px solid transparent;
    }
/* CONGRATS END */
/* MEDIA QUERY */
@media (max-width:1566px) {
    .result-img > img {
        width: 35% !important;
    }

    .classes {
        height: 200px !important;
        border-bottom: 8px solid transparent;
        border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
        border-image-slice: 1;
        box-shadow: inset 0px 11px 8px -10px #000;
    }

        .classes:last-child {
            border-bottom: 0px solid transparent;
        }
}
/* MEDIA QUERY */
